@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #29475b;
  --secondary-color: #A13D63;
  --accent1-color: #1620dfcf;
  --accent2-color: #3da16c;
  --heading-font: "Karla", sans-serif;
  --paragraph-font: 'Montserrat', sans-serif;
  --heading-font-size: 3rem;
  --subheading2-font-size: 2.2rem;
  --subheading3-font-size: 1.5rem;
  --paragraphfont-size: 1rem;
  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: black;  /* headlines on a white background */ 
  --headline-color-on-color: #fff; /* headlines on a colored background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #fff; /* paragraph text on a colored background */ 
  --text-background-color: #29475b;
  --nav-link-color: #ddf8e8;
  --nav-background-color: #A13D63;
  --nav-hover-link-color: #001b2e;
  --nav-hover-background-color: #ddf8e8;
}


body {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;

}

img {
  max-width: 100%;
  
}
h1 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  font-size: var(--heading-font-size);
}

h2 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    font-size: var(--subheading2-font-size);
  }

  h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    font-size: var(--subheading3-font-size);
  }


header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--text-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p, li {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
  font-size: var(--paragraphfont-size);
}

#headingfont {
    font-family: var(--heading-font);
    font-size: 1.2rem;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--text-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 70px;
  font-size: 1.5rem;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}




